---
const platform = "instagram";
const user1link = "elenipoulou"
const user2link = "hausamwaldsee"
const user1 = "eleni.poulou";
const user2 = "hausamwaldsee";
---

<footer>
  <p>
  <h3>follow us ↓</h3>
  	<a href={`https://www.${platform}.com/${user1}`} target="blank">{user1link}</a>&nbsp;&nbsp;
  	<a href={`https://www.${platform}.com/${user2}`} target="blank">{user2link}</a>
  
   </p>
</footer>
